body {
	font-family: 'Lato', sans-serif;
}
.clear {clear: both;}
a {
	color: #444;
	text-decoration: none;
}
.fondoLogin{

	background-image: url('../img/login.jpg');
	background-size: cover;
	background-position: center;

}
.fondoRegistro{

	background-image: url('../img/registro.jpg');
	background-size: cover;
	background-position: center;

}

$rojo : #f21439;

.rojo { color: $rojo !important; }

header {

	border-bottom: 1px solid #eee;

	#top-bar {
		background-color: #f9f9f9;
		height: 40px;
	}

	#header-align {
		max-width: 1300px;
		margin: 0 auto;
	}

	@media screen and (max-width: 1250px) {
		#header-align {
			width: 90%;
		}
	}

	nav {
		height: 95px;

		.logo-header {
			height: 70px;
			margin: 12px 0px 0px 0px;
			float: left;
		}

		.menu-no-responsive {
			float: left;
			line-height: 95px;
			margin-left: 100px;

			li {
				display: inline-block;
				color: #444444 !important;
				text-transform: uppercase;
				font-weight: 700;
				font-size: 14.5px;
				margin-right: 40px;
			}
			.rojo {
				a {
					color: $rojo !important;
				}
			}
		}

		.login-header {
			float: right;

			li {
				display: inline-block;
				line-height: 95px;
				margin-left: 20px;
				color: #444;
				font-weight: 300;

				i {
					margin-right: 2px;
				}
			}
			a:hover {
				text-decoration: underline;
			}
		}

		.usuario-header {
			float: right;
			margin-top: 10px;

			figure {
				border-radius: 100px;
				background-color: #f1f1f1;
				height: 45px;
				width: 45px;
				display: inline-block;
				position: relative;
				top: 17px;
				margin-right: 8px;
				overflow: hidden;
				img{
					width: 100%;
				}
			}
			div {
				display: inline-block;
				position: relative;
				height: 40px;


				ul {
					visibility: hidden;
					position: absolute;
					border:2px solid #eeeeee;
					background-color: white;
					width: 150px;
					right: 0px;
					padding: 0px 12px 0px 12px;
					z-index: 999999;
					box-sizing: border-box;
					top: 40px;

					li {
						border-top: 1px solid #eee;
						padding: 10px 0px 10px 0px;
						font-size: 14px;
						color: #666;

						i {
							width: 15px;
							text-align: center;
						}
					}

					li:hover {
						color: #222
					}
				}
			}

			div:hover > ul {
				visibility: visible;
			}
		}

		.menu-responsive, .boton-responsive {
			display: none;
		}
	}

	@media screen and (max-width: 950px) {
		.menu-no-responsive, .login-header {
			display: none
		}
		.menu-responsive {
			display: block;
		}
		.boton-responsive {
			display: none;
			float: right;

		}
	}

	#bottom-bar {
		width: 100%;
		padding-bottom: 10px;
		
		
		.boton-categorias {
			float: left;
			padding: 15px 0px 15px 0px;
			max-width: 255px;
			border:2px solid #eeeeee;
			text-align: center;
			color: #444;
			font-weight: 600;
			width: 100%;
			font-size: 15px;
			border-radius: 3px;
			position: relative;
			box-sizing: border-box;

			i {
				padding-right: 5px;
			}

			.categorias-ul {
				position: absolute;
				background-color: white;
				width: 100%;
				border:2px solid #eeeeee;
				border-radius: 3px;
				margin-left: -2px;
				margin-top: 15px;
				border-top: 0px;
				text-align: left;
				padding: 10px 20px 10px 20px;
				box-sizing: border-box;
				visibility: hidden;
				transition:.2s;
    			opacity:0;
				z-index: 9999;


				li {
					display: block;
					padding: 15px 0px 15px 0px;
					box-sizing: border-box;
					color: #777;
					font-weight: 400;
					border-top: 1px solid #eee
				}
			}
		}

		.boton-categorias:hover > .categorias-ul {
    		opacity:1;
			visibility: visible;
			transition:.3s
		}
		@media screen and (max-width: 883px) {
			.boton-categorias {
				display: none;
			}
		}
		
		
		.buscar-header {
			float: left;
			color: #444;
			font-weight: 600;
			font-size: 15px;
			border-radius: 3px;
			margin-left: 20px;
			overflow: hidden;
			box-sizing:border-box;

			
			input {
				border:2px solid #eeeeee;
				border-right: 0px;
				height: 50px;
				box-sizing: border-box;
				width: 600px;
				float: left;
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
				padding: 0px 20px 0px 20px;
				font-size: 15px;
				font-weight: 300;
				transition: .3s;
			}
			input:focus {
				border-color: #0082c5;
				outline: none;
				transition: .5s;
				border:1px solid #0082c5;
				border-right: 0px;
			}
			input:focus::-webkit-input-placeholder {
				color: white;
				transition:.5s;
			}
			button {
				background-color: #0082c5;
				color: white;
				border:none;
				height: 50px;
				padding: 0px;
				margin: 0px;
				box-sizing: border-box;
				width: 50px;
				font-size: 16px;
				float: left;
			}


			@media screen and (max-width: 1250px) {
				input {
					max-width: 400px;
				}
			}
			@media screen and (max-width: 1090px) {
				input {
					max-width: 300px;
				}
			}
			@media screen and (max-width: 996px) {
				input {
					max-width: 200px;
				}
			}
			@media screen and (max-width: 883px) {
				input {
					max-width: 400px;
				}
			}
			@media screen and (max-width: 820px) {
				input {
					max-width: 200px;
				}
			}
			@media screen and (max-width: 608px) {
				input {
					max-width: 100%;
					width: unquote("-webkit-calc(100% - 50px)");
				}
				button {
					background-color: #0082c5;
					color: white;
					border:none;
					height: 50px;
					padding: 0px;
					margin: 0px;
					box-sizing: border-box;
					width: 50px;
					font-size: 16px;
					float: left;
				}
			}

		}


		.iconos-header {
			float: right;
			height: 50px;

			.iconos {
				
				li {
					display: inline-block;
					margin-left: 25px;

					
					i{
						font-size: 25px;
						color: #444;
						line-height: 50px;
					}

					.numero {
						position: relative;
						display: inline-block;
						background-color: #eeeeee;
						height: 25px;
						width: 25px;
						text-align: center;
						line-height: 25px;
						top: -3px;
						border-radius: 100px;
						font-size: 14px;
					}

					.carrito-item {
						position: relative;
						top: 3px;
						font-size: 13px;
						color: #777;
						font-weight: 400;
						line-height: 16px;


						br {
							
						}

						b {
							font-weight: 600;
							font-size: 15px;
							color: black;

						}
					}
				}
			}
		}

		@media screen and (max-width: 608px) {
			.iconos-header {
				display: none;
			}
		}
	}
	
}

// FAQs

#contenedor_index {
	font-family: 'Lato', sans-serif;
	max-width: 1300px;
	margin: 0 auto;
	padding: 50px 0px 50px 0px;

	.titulo_general{
		text-align: center;
		padding-bottom: 50px;
		h1{
			color: #14c2a1;
			font-size:30px;
		}
	}

	.preguntas_general {
		.fila {
			margin: 40px 0px 40px 0px;


			.tema {
				color: #494d66;
				font-size: 25px;
			}

			.lista_preguntas{
				width: 100%;

				.preguntas {


					li{
						color: #494d66;
						border: 1px solid rgba(111, 117, 154, 0.2);
						border-radius: 20px;
						padding: 0px 20px;
						margin: 15px 0px;

						strong{
							font-size: 20px;
							font-weight: bold;
							line-height: 35px;
						}

						p {
							display: none;
							color: #6f759a;
							text-align: justify;
							padding: 5px 0px 10px 15px;
						}
						i {
							font-size: 20px;
						}
					}

					li:hover > p {
						display: block
					}
				}
			}
		}
	}
	.consultas_general {
		display: flex;
		justify-content: center;
		.otras_consultas {
			display: flex;
			flex-direction: column;
			justify-content: center;
			.texto_consulta {
				color: #14c2a1;
				font-size:20px;
				margin-bottom: 20px;
			}
			p {
				text-align: center;
			}
		}
	}
}

@media (max-width: 1350px) {
	#contenedor_index {
		width: 90%;
		margin: 0 auto;
	}
}


/// REGISTRO Y LOGIN
.container-fluid{

	.logo {
		display: flex;
		justify-content: space-between;
		padding-bottom: 25px;

		img{
		width: 200px;
		height: 100px;
		padding-top: 20px;
		padding-left: 20px;
		}

		i{
			color: #4a4b67;
			font-size: 25px;
			margin-right: 40px;
			margin-top: 60px;

		}
	}

	.instruccion {
		text-align: left;
		padding-bottom: 20px;

		p{
			font-size: 20px;
			color: #4a4b67;
		}
	}

	.registro{
		background-color: #ffffff;
		width: 300px;
		margin: 0 auto;
		padding: 20px;
		box-sizing: border-box;
		border-radius: 3px;
		box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);

	}

	.login{
	  background-color: #ffffff;
		margin: 0 auto;
		box-sizing: border-box;
	  border-radius: 3px;
	  width: 300px;
		padding: 20px 20px;
		box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);

		.boton{
			margin-top: 10px;
		}
	}	

	.botonParaRegistro{
		display: flex;
		justify-content: center;
		margin-top: 20px;


		a{
			text-decoration: none;
			color: blue;
		}
	}

	.bienvenido{
		padding-bottom: 20px;
		padding-top: 50px;
		display: flex;
		justify-content: center;
		p{
			color: #4a4b67;
			font-size: 30px;
		}
	}

}

/// portada

#banner {
	overflow: hidden;

	img {
		width: 100%;
	}
}

// home 


.contenedor-index-home {

	.new-arrivals-index {
		max-width: 1300px;
		width: 100%;
		margin: 0 auto;
		padding: 40px 0px 40px 0px;
		overflow: hidden;

		.oferts {
			float: left;
			width: 25%;
			box-sizing: border-box;
			border: 2px solid #0080c8;
			border-radius: 5px;
			padding: 25px;
			color: #383838;

			h2 {
				font-size: 24px;
				font-weight: 300;

				strong {
					font-weight: 600
				}
			}
					

			.precio {
				position: relative;
				
				h3 {
					color: #0080c8;
					font-size: 24px;
					font-weight: 600;
					margin-top: 30px;

					span {
						color: #ddd;
						font-size: 18px;
						text-decoration: line-through;
						font-weight: 300;
					}
				}
				h4 {
					font-size: 13px;
					margin-top: 5px;
				}

				.save {
					position: absolute;
					right: 0px;
					background-color: #3cb500;
					width: 75px;
					height: 75px;
					color: white;
					top: -13px;
					border-radius: 100px;
					text-align: center;

					p {
						font-size: 10px;
						margin-top: 20px;
					}
					span {
						font-size: 20px;
					}
				}
			}
			
			.dias {
				display: flex;
				justify-content: center;
				margin-top: 20px;
				
				li {
					margin: 0px 5px 0px 5px;

					.c {
						background-color: #ddd;
						height: 50px;
						width: 50px;
						color: black;
						text-align: center;
						line-height: 50px;
						border-radius: 100px;
					}
					p {
						text-transform: uppercase;
						font-size: 10px;
						text-align: center;
						margin-top: 5px;
						font-weight: 600;
					}
				}
			}

			figure {
				width: 70%;
				overflow: hidden;
				margin: 0 auto;
				padding-top: 10px;

				img {
					width: 100%;
				}
			}
			.stock {
				overflow: hidden;
				font-size: 13px;
				margin-top: 20px;

				b {
					font-weight: 600;
				}

				.l {
					float: left;
				}
				.r {
					float: right;
				}
			}
			hr {
				height: 1px;
				background-color: #ddd;
				border:none;
			}
		}

		@media screen and (max-width: 1350px) {
			.oferts {
				display: none;
			}
		}

		.products {
			float: right;
			max-width: 70%;

			.options {

				li {
					display: inline-block;
					font-size: 20px;
					margin-right: 20px;
					color: #bbb;
					font-weight: 300;
					cursor: pointer;

				}

				.select {
					color: black;
					font-weight: 600;
					font-size: 22px;
				}
			}
			


			.mas-vendidos {
				display: none;
			}
			.en-oferta {
				display: none;
			}
			.ultimos-agregados {
				display: block;
			}

    		.products-ul {
				width: 100%;
				display: flex;
				flex-direction: row;
	    		flex-flow: row wrap;

				li {
					text-align: center;
					padding: 0px 5px;
					box-sizing: border-box;
	   			 	flex: 1;
					flex-basis: 20%;
					max-width: 20%;
					vertical-align: top;
					border-left: 1px solid #f1f1f1;
					margin-top: 30px;



					.price {
						margin: 15px 0px 10px 0px;
						color: blue;
						font-weight: 600;
						color: #0080c8 !important;
					}

					p {
						font-size: 14.3px;
						color: #676565;
						font-weight: 300;
						padding: 0px 5px 0px 5px;
						box-sizing: border-box;
					}

					figure {
						width: 80%;
						min-height: 140px;
						overflow: hidden;
						margin: 0 auto;
						text-align: center;
						vertical-align: bottom;
						position: relative;

						img {
							width: 100%;
							vertical-align: bottom;
							position: absolute;
							bottom: 0px;
							left: 0px;
						}
					}
				}

				@media screen and (max-width: 1350px) {
					li {
						flex-basis: 20%;
					}
				}
				@media screen and (max-width: 1000px) {
					li {
						flex-basis: 33.3%;
					}
				}
				@media screen and (max-width: 550px) {
					li {
						flex-basis: 50%;
					}
				}
				@media screen and (max-width: 350px) {
					li {
						flex-basis: 100%;
					}
				}
			}
		}

		@media screen and (max-width: 1350px) {
			.products {
				float: none;
				max-width: 90%;
				margin: 0 auto;
			}
		}



	}


	.app-banner {
		background-color: #007dcb;
		height: 40px;
		margin: 50px 0px 0px 0px;
		padding: 10px 0px 10px 0px;
		width: 100% !important;


		p {
			color: white;
			text-align: center;
			line-height: 40px;
			font-weight: 300;
			font-size: 22px;

			i {
				position: relative;
				font-size: 34px;
				line-height: normal;
				top: 3px;
				padding-right: 5px;

			}
		}
	}

	.categorias {
		max-width: 1300px;
		margin: 0 auto;
		padding: 60px 0px 60px 0px;

		h2 {
			text-align: center;
			font-size: 27px;
			font-weight: 300;
			color: #383838;
		}

		ul {
			display: flex;
			justify-content: center;
			margin-top: 40px;

			li {
				width: 20%;
				text-align: center;
				padding: 40px 0px 40px 0px;

				figure {
					width: 60%;
					margin: 0 auto;
					text-align: center;
					height: 140px;

					img {
						max-width: 100%;
						max-height: 100%;
					}
				}

				h3 {
					color: #383838;
					font-weight: 600;
					margin-top: 30px;
				}
			}
			li:nth-child(odd) {
				background-color: #f9f9f9;
			}
		}

		
	}
}



